<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

      <title> Simon E.F. | Homepage </title>

       <link rel="stylesheet" href="/css/bootstrap-grid.css">
         <link rel="stylesheet" type="text/plain" href="/css/bootstrap-grid.css.map">
           <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
             <link rel="stylesheet" type="text/plain" href="/css/bootstrap-grid.min.css.map">
               <link rel="stylesheet" href="/css/bootstrap-reboot.css">
                 <link rel="stylesheet" type="text/plain" href="/css/bootstrap-reboot.css.map">
                  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
                <link rel="stylesheet" type="text/plain" href="/css/bootstrap-reboot.min.css.map">
              <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" type="text/plain" href="/css/bootstrap.css.map">
          <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/plain" href="/css/bootstrap.min.css.map">
       <link rel="stylesheet" href="/css/main.css">

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

       <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
         <script type="text/javascript" src="/js/bootstrap.bundle.js.map"></script>
           <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
             <script type="text/javascript" src="/js/bootstrap.bundle.min.js.map"></script>
           <script type="text/javascript" src="/js/bootstrap.js"></script>
          <script type="text/javascript" src="/js/bootstrap.js.map"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js.map"></script>

  </head>
  <body class="bg-main">

    <nav class="navbar navbar-expand-lg navbar-dark bg-main justify-content-start">
      <a class="h3 text-white a-hover" href="/">Hem </a>
      <span class="h3 navbar-text text-white navtext-margin"> / </span>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">

        </div>
      </div>
    </div>

  <div class="container-md">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <button class="btn btn-transparent btn-outline-primary" href="spel.ejs" role="button">
          <img src="/img/spelsida.png" height="240px"></img>
          Gamer
        </button>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>

  </body>
</html>
