<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

      <title> Simon E.F. | Homepage </title>

       <link rel="stylesheet" href="/css/bootstrap-grid.css">
         <link rel="stylesheet" type="text/plain" href="/css/bootstrap-grid.css.map">
           <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
             <link rel="stylesheet" type="text/plain" href="/css/bootstrap-grid.min.css.map">
               <link rel="stylesheet" href="/css/bootstrap-reboot.css">
                 <link rel="stylesheet" type="text/plain" href="/css/bootstrap-reboot.css.map">
                  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
                <link rel="stylesheet" type="text/plain" href="/css/bootstrap-reboot.min.css.map">
              <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" type="text/plain" href="/css/bootstrap.css.map">
          <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/plain" href="/css/bootstrap.min.css.map">
       <link rel="stylesheet" href="/css/main.css">

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

       <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
         <script type="text/javascript" src="/js/bootstrap.bundle.js.map"></script>
           <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
             <script type="text/javascript" src="/js/bootstrap.bundle.min.js.map"></script>
           <script type="text/javascript" src="/js/bootstrap.js"></script>
          <script type="text/javascript" src="/js/bootstrap.js.map"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js.map"></script>

  </head>
  <body class="bg-main">

    <nav class="navbar navbar-expand-lg navbar-dark bg-main justify-content-start">
      <a class="h3 text-white a-hover navtext-margin" href="/">Hem </a>
      <span class="h3 navbar-text text-white navtext-margin"> / </span>
      <a class="h3 text-white a-hover navtext-margin" href="/spel"> Spel </a>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">

        </div>
      </div>
    </div>

  <div class="container-md">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <button class="btn btn-secondary btn-outline-transparent text-black btn-textsize" data-toggle="modal" data-target="#osuModal" role="button">
          <img src="/img/osulogo.png" height="240px"></img>
          osu!
        </button>
        <div id="osuModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content bg-main text-white">
              <div class="modal-header">
                <h4 class="modal-title">osu!</h4>
              </div>
              <div class="modal-body">
                <span>
                  <img src="http://s.ppy.sh/a/7228853" height="120px"></img>
                  <a href="https://osu.ppy.sh/u/simme1001" target="_blank">Link to my osu!-profile &nearr;</a>
                </span>
                  <p>
                    I first heard about the game osu! back in 2015. Part of this exposure was due to one of my friends who had played the game and wanted to see how well I would perform without any prior experience.
                    My interest in the game grew further part due to the fact that some of my, at the time, favorite streamers on twitch reacted to some of the best players achieving unbelievably impressive scores
                    in the game. Among the players in question were: Shigetora, who at the time was more known as Cookiezi, hvick225 and Angelsim. Due to the amount of skill these players singlehandedly had procured
                    over the span of only a few years, I was instantly inspired and set a goal for myself to reach rank #1 globally at some point in the future. So far I have been able to reach my peak rank of #8900 globally after
                    spending around 700+ hours in the game.
                  </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default text-white" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <a href="https://steamcommunity.com/id/simme1001" target="_blank">
          <button class="btn btn-secondary btn-outline-transparent text-black btn-textsize" role="button">
            <img src="/img/steamlogo.png" height="240px"></img>
            Steam
          </button>
        </a>
      </div>
      <div class="col"></div>
    </div>
  </div>

  </body>
</html>
